name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up java (required for sonarqube scanner
      uses: actions/setup-java@v3
      with: 
       distribution: temurin
       java-version: 17

    
    - name: Sonar Scanner
      uses: SonarSource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      with:
       args: >
        -Dsonar.organization=cloudteam75621
        "-Dsonar.projectName=My netflix-frontend"
        -Dsonar.projectKey=cloudteam75621
        -Dsonar.python.coverage.reportPaths=coverage.xml
        -Dsonar.sources=.
        -Dsonar.tests=.
        -Dsonar.test.exclusions=./**
        -Dsonar.verbose=true
